.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    padding: 10px;
    z-index: 1000; /* Ensures the menu icon is above other content */
    position: absolute; /* Allows positioning relative to nearest positioned ancestor */
    top: 10px;
    left: 10px;
}

.sidebar {
    width: 250px;
    position: fixed;
    left: -250px;
    transition: left 0.3s;
    top: 0;
    bottom: 0;
    background-color: #f8f9fa;
    padding-top: 60px; /* Padding to avoid overlap with the toggleMenu */
}

.sidebar.open {
    left: 0;
}

.content {
    margin-left: 0;
    flex-grow: 1;
    padding-top: 60px; /* Enough space for the menu icon and user info */
}

.user-info {
    position: fixed; /* Fixed at the top of the page */
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500; /* Lower than menu icon, but above other content */
}

.page-content {
    margin: 20px;
    padding-top: 40px; /* Additional padding to account for user_info */
}
